# Sistemas de recomendacion

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("../datasets/ml-100k/u.data.csv", sep="\t", header=None)

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.head()

     0    1  2          3
0  196  242  3  881250949
1  186  302  3  891717742
2   22  377  1  878887116
3  244   51  2  880606923
4  166  346  1  886397596

In [10]:
df.shape

(100000, 4)

In [11]:
df.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [13]:
df.columns = ['UserID', 'ItemID', 'Rating', 'TimeStamp']

In [14]:
df.head()

   UserID  ItemID  Rating  TimeStamp
0     196     242       3  881250949
1     186     302       3  891717742
2      22     377       1  878887116
3     244      51       2  880606923
4     166     346       1  886397596