# Agregacion de datos por categoria

In [16]:
import numpy as np
import pandas as pd
import math

In [2]:
gender = ["Male","Female"]
income = ["Poor","Middle Class","Rich"]

In [7]:
n = 500

gender_data = []
income_data = []

for i in range(0,500):
    gender_data.append(np.random.choice(gender))
    income_data.append(np.random.choice(income))

In [10]:
gender_data[1:10]

['Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female']

In [9]:
income_data[1:10]

['Rich',
 'Poor',
 'Rich',
 'Middle Class',
 'Middle Class',
 'Middle Class',
 'Rich',
 'Rich',
 'Rich']

z -> N(0,1)

N(m.s) -> m + s * z

In [19]:
#z -> N(0,1)

#N(m.s) -> m + s * z

height = 160 + 30 * np.random.randn(n)
weight = 65 + 25 * np.random.randn(n)
age = 30 + 12 * np.random.randn(n)
income = 18000 + 3500 * np.random.randn(n)

In [22]:
data = pd.DataFrame(
    {
        "Gender": gender_data,
        "Economic Status": income_data,
        "Height": height.astype(int),
        "Weight": weight.astype(int),
        "Age": age.astype(int),
        "Income": income
    }
)

In [23]:
data.head()

   Gender Economic Status  Height  Weight  Age        Income
0  Female    Middle Class     209      80   33  19736.906669
1    Male            Rich     169      74   28  19422.953467
2    Male            Poor     173      74   34  16153.546696
3  Female            Rich     144      41   23  15872.800361
4    Male    Middle Class     183      74   35  21716.649709