# Concatenar y apendizar data sets

In [10]:
import pandas as pd
import numpy as np

In [5]:
red_wine = pd.read_csv("../datasets/wine/winequality-red.csv", sep=";")

In [6]:
red_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [7]:
red_wine.columns.values

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'], dtype=object)

In [9]:
red_wine.shape

(1599, 12)

In [13]:
white_wine = pd.read_csv("../datasets/wine/winequality-white.csv", sep=";")
white_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [14]:
white_wine.columns.values

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'], dtype=object)

In [15]:
white_wine.shape

(4898, 12)

En Python, tenemos dos tipos de ejes:

* Axis = 0 denota eje horizontal
* Axis = 1 denota eje vertical

In [16]:
wine_data = pd.concat([red_wine, white_wine], axis = 0)

In [17]:
wine_data.shape

(6497, 12)

In [18]:
wine_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

Al usar **pd.concat** se concatena en el orden que se escribe

In [19]:
data1 = wine_data.head(10)
data2 = wine_data[300:310]
data3 = wine_data.tail(10)

In [20]:
wine_scramble = pd.concat([data1, data2, data3], axis=0)

In [25]:
wine_scramble.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4888,6.8,0.220,0.36,1.20,0.052,38.0,127.0,0.99330,3.04,0.54,9.2,5
4889,4.9,0.235,0.27,11.75,0.030,34.0,118.0,0.99540,3.07,0.50,9.4,6
4890,6.1,0.340,0.29,2.20,0.036,25.0,100.0,0.98938,3.06,0.44,11.8,6
4891,5.7,0.210,0.32,0.90,0.038,38.0,121.0,0.99074,3.24,0.46,10.6,6
4892,6.5,0.230,0.38,1.30,0.032,29.0,112.0,0.99298,3.29,0.54,9.7,5

In [26]:
wine_scramble = pd.concat([data3, data2, data1], axis=0)
wine_scramble.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4888,6.8,0.220,0.36,1.20,0.052,38.0,127.0,0.99330,3.04,0.54,9.2,5
4889,4.9,0.235,0.27,11.75,0.030,34.0,118.0,0.99540,3.07,0.50,9.4,6
4890,6.1,0.340,0.29,2.20,0.036,25.0,100.0,0.98938,3.06,0.44,11.8,6
4891,5.7,0.210,0.32,0.90,0.038,38.0,121.0,0.99074,3.24,0.46,10.6,6
4892,6.5,0.230,0.38,1.30,0.032,29.0,112.0,0.99298,3.29,0.54,9.7,5

## Datos distribuidos

In [27]:
data = pd.read_csv("../datasets/distributed-data/001.csv")

In [31]:
data.head()

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1

In [32]:
data.shape

(1461, 4)

* Importar el primer fichero
* Hacemos un bucle para ir recorriendo todos y cada uno de los ficheros
    * Imprtante tener una consistencia en el nombre de los ficheros
    * Importamos los ficheros uno a uno
    * Cada uno de ellos debe apendizarse (a√±adirse al final) del primer fichero que ya habiamos cargado
* Repetimos el bucle hasta que no queden ficheros

In [37]:
filepath = "../datasets/distributed-data/"

data = pd.read_csv("../datasets/distributed-data/001.csv")
final_length = len(data)

for i in range(2,333):
    if i < 10:
        filename = '00' + str(i)
    if 10<= i < 100:
        filename = '0' + str(i)
    if i >= 100:
        filename = str(i)
    file = filepath + filename + '.csv'
    
    
    temp_data = pd.read_csv(file)
    final_length += len(temp_data)
    
    data = pd.concat([data, temp_data], axis = 0)

In [38]:
data.shape

(772087, 4)

In [35]:
data.tail()

           Date  sulfate  nitrate   ID
726  2004-12-27      NaN      NaN  332
727  2004-12-28      NaN      NaN  332
728  2004-12-29      NaN      NaN  332
729  2004-12-30      NaN      NaN  332
730  2004-12-31      NaN      NaN  332

In [36]:
data.head()

         Date  sulfate  nitrate  ID
0  2003-01-01      NaN      NaN   1
1  2003-01-02      NaN      NaN   1
2  2003-01-03      NaN      NaN   1
3  2003-01-04      NaN      NaN   1
4  2003-01-05      NaN      NaN   1

In [39]:
final_length

772087

In [45]:
final_length == data.shape[0]

True

In [ ]:
# Joins de datasets