# Las Matematicas tras la resgresion logistica

## Las tablas de contingencia

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../datasets/gender-purchase/Gender Purchase.csv")

In [4]:
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [5]:
df.shape

(511, 2)

In [6]:
contingency_table = pd.crosstab(df["Gender"],df["Purchase"])
contingency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [8]:
contingency_table.sum(axis=1)

Gender
Female    265
Male      246
dtype: int64

In [9]:
contingency_table.sum(axis=0)

Purchase
No     231
Yes    280
dtype: int64

In [10]:
contingency_table.astype("float").div(contingency_table.sum(axis=1), axis = 0)

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

## La probabilidad condicional

In [14]:
from IPython.display import display, Math, Latex

* Cual es la probabilidad de que un cliente compre un producto si es un hombre?

* Cual es la probabilidad de que sabiendo que un cliente compra un producto sea mujer?


 
$ P(Purchase|Male) = \frac{Numero\ total\ de\ compras\ hechas\ por\ hombres}{Numero\ total\ de\ hombres\ del\ grupo} = \frac{Purchase\cap Male}{Purchase} $

In [16]:
121/246

0.491869918699187

$ P(No Purchase|Male) = 1-P(Purchase|Male)$

In [22]:
125/246

0.508130081300813


 
$ P(Female|Purchase) = \frac{Numero\ total\ de\ compras\ hechas\ por\ mujeres}{Numero\ total\ de\ mujeres\ del grupo} = \frac{Female\cap Purchase}{Purchase} $

In [18]:
159/280

0.5678571428571428

$ P(No Purchase|Female) = 1-P(Purchase|Female)$

In [23]:
106/265

0.4

## Ratio de Probabilidades

Cociente entre los casos de exito sobre los de fracaso en el suceso estudiado y para cada grupo.

$ P_{m} = Probabilidad\ de\ hacer\ compra\ sabiendo\ que\ es\ un\ hombre $

$ P_{f} = Probabilidad\ de\ hacer\ compra\ sabiendo\ que\ es\ una\ mujer $

$ odds_{Purchase,male} = \frac{P_m}{1-P_m} = \frac {N_{p,m}}{N_{\bar p,m}}$

$ odds_{Purchase,female} = \frac{P_f}{1-P_f} = \frac {N_{p,f}}{N_{\bar p,f}} $

In [24]:
pm = 121/246
pf = 159/265
odds_m = pm/(1-pm)
odds_f = pf/(1-pf)

In [25]:
odds_m

0.9680000000000002

In [26]:
odds_f

1.4999999999999998

* Si el ratio es superior a 1, es mas probable el exito que el fracaso
* Si el ratio es exactamente igual a 1, exito y fracaso son equiprobables (p=0.5)
* Si el ratio es menor que 1, el fracaso es mas probable que el exito. Cuanto menor es el ratio, menor es la probabiidad de exito del suceso.

$ odds_{ratio} = \frac{odds_{purchase,male}}{odds_{purchase,female}} $

In [27]:
odds_r = odds_m/odds_f

In [28]:
odds_r

0.6453333333333335

In [29]:
1/odds_r # odds_f/odds_m

1.5495867768595037